#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-image: url(/src/assets/cell/black__cell.png);
}
.white {
  background-image: url(/src/assets/cell/white__cell.png);
}

.cell img {
  width: 100%;
  height: 100%;
  position: relative;
}

.selected {
  background-color: #757C3A;
  background-image: url();
}

.available {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #757C3A;
}
